
        h1 {text-align: center;
        font-size: 22px;}
        p {font-size: 24px;}
        ul {font-size: 18px;}
	    
        .backto {font-style: italic;}

        .content {
            background: blue;
            color: white;
            text-decoration: none;
            padding: 5px;
            display: block;
            width: 200px;
            text-align: center;
            border: 1px solid black;
		
	 }
	 article {
	 	font-size: 120%;
	 }
	 h1 {
	 	font-size: 120%;
	 }
	 h2 {
	 	font-size: 120%;
	 }
	 h3 {
	 	font-size: 120%;
         text-align: center
	 }
	 
	 .cont {
	 	font-weight:bold;
	 }
	 .up {
	 	text-transform: uppercase;
   
            
        }
        .content:hover {
            background: magenta;
            color: #2E061B;
        }
        .content:active {
            background: yellow;
            color: black;
        }
        .bi {
            background: #855A70;
            color: #79E0C6;
        }
        .childhood{
            background: #A0ABE8;
            color: #0C133B;
        }
        .se{
            background: #B07B81;
            color: #210205;
        }
        .oos{
            background: #99BD93;
            color: #091F06;
        }
        .university{
            background: #BF8484;
            color: #330909;
        }
        .sections {
            display: flex;
            flex-wrap: wrap;
          }
          
          .section {
            flex: 0 0 50%; 
            /* 2 колонки */
            padding: 10px;
            border: 1px solid black;   
          }
          
          @media (max-width: 991px) {
            .section {
              flex: 0 0 100%; 
              /* 1 колонка */
            }
          }