
      h1 {text-align: center;
      font-size: 22px;}
      p {font-size: 24px;}
      h2 {text-align: center;}
  
      .tbl:nth-child(odd) {
         background: grey;
      }
      .tbl:nth-child(even) {
         background: white;
      }
      table {
     width: 100%;
     border: 1px solid #dddddd;
     border-collapse: collapse; 
     padding: 2px;
     }
     table th {
     padding: 5px;
     background: green;
     border: 1px solid #a2eef2;
     }
     table td {
     border: 1px solid #a2eef2;
     padding: 5px;
     }
     th {
     text-align: center;
     }
     .backto{
      font-style: italic;
     }
     #first {
		text-align: center;
      color: red;
      font-size: bold;
   

	}
	tr > td:nth-child(5){
		text-align: right;
	}
