h1,h2,h3{
    text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: stretch;
}
.col{
  padding: 10px;
}
.block1 p{
  margin: 0;
}
.block2 ul{
  margin: 0;
}
.block1 {
  position: relative;
background-color: brown;
color: white;
flex-basis: 0;
margin-left: 10px;
margin-right: 10px;
}
.block2{
  position: relative;
  background-color: rgb(61, 220, 220);
  color: dimgrey;
  flex-basis: 0;
  margin-left: 10px;
margin-right: 10px;
}


.block3{
  position: relative;
  background-color: black;
  color: aliceblue;
  flex-basis: 0;
  margin-left: 10px;
margin-right: 10px;
}

.block4{
  position: relative;
  background-color: blueviolet;
  color: whitesmoke;
  flex-basis: 0;
  margin-left: 10px;
margin-right: 10px;
}

.h4-block1 {
  position: absolute;
  bottom: 0px; 
  right: 0px;
  
  width: 80px;
  height: 45px;
  padding: 5px;
  
  background-color: white;
  color: brown; 
  font-size: 120%;
  text-align: center;

}

.h4-block2 {
  position: absolute;
  bottom: 0px; 
  right: 0px;
  
  width: 80px;
  height: 45px;
  padding: 5px;
  
  background-color: dimgray;
  color: rgb(61, 220, 220); 
  font-size: 120%;
  text-align: center;
  
}

.h4-block3 {
  position: absolute;
  bottom: 0px; 
  right: 0px;
  
  width: 80px;
  height: 45px;
  padding: 5px;
  
  background-color: aliceblue;
  color: black; 
  font-size: 120%;
  text-align: center;

}

.h4-block4 {
  position: absolute;
  bottom: 0px; 
  right: 0px;
  
  width: 80px;
  height: 45px;
  padding: 5px;
  
  background-color: whitesmoke;
  color: blueviolet; 
  font-size: 120%;
  text-align: center;

}

h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
table { border: 2px solid #fff; } td { border: 1px solid #fff; padding: 5px; }

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;	
}
.block1 p, .block2 li, .block3 td {
  font-family: 'Lato', sans-serif;
}
/* Large screens */
@media (min-width: 992px) {
  .container {
    margin-left: 3.5em;
    margin-right: 3.5em;
  }
  
  .col-lg-1 {flex-basis: 8.33%;}
  .col-lg-2 {flex-basis: 16.66%;}
  .col-lg-3 {flex-basis: 25%;}
  .col-lg-4 {flex-basis: 33.33%;}
  .col-lg-5 {flex-basis: 41.66%;}
  .col-lg-6 {flex-basis: 50%;}
  .col-lg-7 {flex-basis: 58.33%;}
  .col-lg-8 {flex-basis: 66.66%;}
  .col-lg-9 {flex-basis: 75%;}
  .col-lg-10 {flex-basis: 83.33%;}
  .col-lg-11 {flex-basis: 91.66%;}
  .col-lg-12 {flex-basis: 100%;}
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 992px) {

  .col-md-1 {flex-basis: 8.33%;}
  .col-md-2 {flex-basis: 16.66%;}
  .col-md-3 {flex-basis: 25%;}
  .col-md-4 {flex-basis: 33.33%;}
  .col-md-5 {flex-basis: 41.66%;}
  .col-md-6 {flex-basis: 50%;}
  .col-md-7 {flex-basis: 58.33%;}
  .col-md-8 {flex-basis: 66.66%;}
  .col-md-9 {flex-basis: 75%;}
  .col-md-10 {flex-basis: 83.33%;}
  .col-md-11 {flex-basis: 91.66%;}
  .col-md-12 {flex-basis: 100%;}

}

/* Small screens */
@media (max-width: 768px) {
  
  .col-sm-1 {flex-basis: 8.33%;}
  .col-sm-2 {flex-basis: 16.66%;}
  .col-sm-3 {flex-basis: 25%;}
  .col-sm-4 {flex-basis: 33.33%;}
  .col-sm-5 {flex-basis: 41.66%;}
  .col-sm-6 {flex-basis: 50%;}
  .col-sm-7 {flex-basis: 58.33%;}
  .col-sm-8 {flex-basis: 66.66%;}
  .col-sm-9 {flex-basis: 75%;}
  .col-sm-10 {flex-basis: 83.33%;}
  .col-sm-11 {flex-basis: 91.66%;}
  .col-sm-12 {flex-basis: 100%;}

}
